<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div th:fragment="navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="d-flex flex-grow-1">
                    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
                    <a class="navbar-brand d-none d-lg-inline-block" href="#" th:href="@{/}">
                        <h1>Gift Wisher App</h1>
                    </a>
                    <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
                        <img src="//placehold.it/40?text=LOGO" alt="logo">
                    </a>
                    <div class="w-100 text-right">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                    <ul class="navbar-nav ml-auto flex-nowrap">
                        <li class="nav-item">
                            <a href="#" class="nav-link m-2 menu-item nav-active"><button type="button" class="btn btn-light">About</button></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" th:href="@{/giftForm}" class="nav-link m-2 menu-item"><button type="button" class="btn btn-light">Get Started</button></a>
                        </li>
                        <ul class="nav-item">
                            <li class="dropdown">
                                <a href="#" th:href="@{/login}" class="dropdown-toggle" data-toggle="dropdown" roleEntity="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                                <ul class="dropdown-menu" sec:authorize="isAnonymous()">
                                    <li><a href="#" th:href="@{/}" th:inline="text">Log in/Sign in</a></li>
                                    <li><a href="#" th:href="@{/sign-in}" th:inline="text">Sign in</a></li>
                                    <li><a href="#" th:href="@{/login}" th:inline="text">Log in</a></li>
                                </ul>
                                <ul class="dropdown-menu" sec:authorize="isAuthenticated()">
                                    <li><a href="#" th:href="@{/}"></a></li>
                                    <li><a href="#" th:href="@{/profile}">Profile</a></li>
                                    <li><a href="#" th:href="@{/logout}">Logout</a></li>
                                </ul></li>
                        </ul>






<!--                        <li class="nav-item">-->
<!--                            <a href="#" th:href="@{/login}" class="nav-link m-2 menu-item"><button type="button" class="btn btn-outline-dark">Log in/Sign up</button></a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>