a {
    color: #000000;
    font-family: "Montserrat";
    text-decoration: none;
    background-color: transparent;
}

.text-highlight {
    background-image: linear-gradient(180deg, transparent 75%, rgb(140, 82, 255) 0);
    background-size: 100% 85%;
    background-repeat: no-repeat;
}
.bg-fiolet {
    background-color: rgb(140, 82, 255);
}

element.style {
    visibility: visible;
    animation-delay: 1.4s;
    animation-name: fadeIn;
}

body {
    background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}




