<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<body>
<div class="container" layout:fragment="content">
    <div>
        <h3>What's your perfect gift?</h3>
        <br>
    </div>

    <form th:object="${gift}" th:action="@{/gift_save}" method="post">
        <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="formGroupExampleInput" placeholder="Your gift's name">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Description</label>
            <input type="text" th:field="*{description}" class="form-control" id="Description" placeholder="For example address url">
        </div>
        <div class="form-group">
            <label>Occassion</label>
            <select class="form-control" th:field="*{occassion}">
                <option th:each="occassionValue : ${Occassion}"
                        th:value="${occassionValue.name()}"
                        th:text="${occassionValue.name()}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Gift status</label>
            <select class="form-control" th:field="*{giftStatus}">
                <option th:each="giftStatusValue : ${GiftStatus}"
                        th:value="${giftStatusValue.name()}"
                        th:text="${giftStatusValue.name()}">
                </option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-light">Add to Wishlist</button>
    </form>
    <br>
    <br>
    <h4>Gifts you wish to get:</h4>
    <br>
    <div class="table table-hover">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Occassion</th>
                <th>Status</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody th:each="gift : ${gifts}" th:remove="tag">
            <tr class="table-light">
                <td th:text="${gift.getName()}">Book</td>
                <td th:text="${gift.getDescription()}">Nice</td>
                <td th:text="${gift.getOccassion()}">B-day</td>
                <td th:text="${gift.getGiftStatus()}">Available</td>
                <td><a href="#" th:href="@{'/gifts/' + ${gift.getId()} + '/delete'}" class="text-muted link">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>