<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Please Login</title>
</head>
<body>
<div>
    <form name="f" th:action="@{/login}" method="post" class="form-signin">
        <fieldset>
            <legend>Please Login</legend>
            <div class="form-group ${error != null ? 'has-error' : ''}">
                <span th:text="${message}">message</span>
                <input name="username" type="text" class="form-control" placeholder="Username"
                       autofocus="true"/>
                <input name="password" type="password" class="form-control" placeholder="Password"/>
                <span th:text="${error}"></span>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            </div>
        </fieldset>
        <h4 class="text-center"><a href="#" th:href="@{/registration}">Create an account</a></h4>
    </form>

</div>
</body>
</html>